.navbar:first-of-type .nav-link {
  color: black !important;
}

.aboutUs {
  margin-top: 250px;
}

.form-group {
  max-width: 726px;
}

.form-group input {
  text-indent: 20px;
  width: 100%;
  /* min-width: 726px; */
  font-size: 2em;
}

/* PLACEHOLDER */

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 38px;
  color: #b6b6b6;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 38px;
  color: #b6b6b6;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 38px;
  color: #b6b6b6;
}

.earlyAccessSection .earlyTitle {
  margin-top: 64px;
  text-align: start;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;
  max-width: 726px;
  margin-bottom: 29px;
  color: #000000;
  /* text-align: center; */
}

.early {
  margin-top: 80px;
  text-align: center;
}

.tabsForm {
  text-align: center;
  justify-content: center;
}

.tabsForm {
  justify-content: center;
  align-items: center;
  display: flex;
}
.video {
  max-width: 726px;
}

.earlyAccess {
  margin-top: 30px;
}

.forFan {
  border-radius: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  max-width: 319px;
}

.forTalent {
  border-radius: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  max-width: 319px;
  position: relative;
}

.activeTab {
  border-bottom: 5px solid #049c69;
  position: relative;
}

.chooseTab {
  width: 100%;
  margin-top: 90px;
}
.chooseTab .row {
  display: flex;
  justify-content: space-around;
}

.perks {
  margin-top: 100px !important;
}

.talent {
  margin-top: 80px;
  color: black !important;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.fan {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.tabcontent:nth-child(2) {
  display: none;
}

/* active tab won't have grey text color */
.chooseTab > .row div:not(.activeTab) {
  color: #848484;
}

form {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-group {
  width: 100%;
}

.button-early-access {
  margin-top: 40px;
}

.tabsForm > .col {
    padding: 0;
}