html,
body {
  overflow-x: hidden;
}

a {
  color: black;
}

:root {
  --rubik-family: "Rubik", sans-serif;
}

.videoSection{
  padding-top: 3em;

}



.footer {
  position: relative;
  margin-top: 30%;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
}



.markText{
  font-size: 14px;
  color: rgb(109, 109, 109);
}

.markText2{
  font-size: 14px;
  color: rgb(109, 109, 109);
}

.whiteBG{
  background: lightgrey;
  height: 100em;
}


/* HEADER */

header .nav-link {
  color: white !important;
  margin-right: 2.625rem;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}

header > .header-image {
  top: 0;
  right: 0;
  z-index: -1;
}

header .header-heading {
  margin-top: 135px;
}

header .header-title {
  margin-top: 36px;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
}

header .header-subtitle {
  margin-top: 36px;
  margin-bottom: 36px;
  font-family: var(--rubik-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
}

.button-early-access {
  background: linear-gradient(266.81deg, #009ebe -3.26%, #049c69 92.97%);
  border-radius: 27px;
  font-weight: bold;
  color: white;
  padding: 11px 35px;
}

.button-early-access:hover {
  color: rgba(0, 0, 0, 0.5) !important;
}

/* PERKS */

.perks .blue-circle {
  left: 0;
  top: -100px;
  z-index: -1;
}

.perks {
  margin-top: 245px;
  position: relative;
}

.perks-list {
  align-items: flex-end !important;
}

.perks .perks-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 77px;
}

.left-list span .icon,
.right-list span .icon {
  margin-right: 15px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.right-list {
  margin-top: 30px;
}

.list-gap span {
  margin-top: 26px;
}

.list-gap span .icon {
  display: flex;
  width: 30px;
  height: 30px;
}

.list-gap span:nth-child(1) {
  margin-top: 0 !important;
}

.launch-date {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.perks-early-access {
  margin-top: 118px;
}

.launch-date {
  margin-top: 26px;
}

/* ABOUT US */

.aboutUs {
  margin-top: 169px;
}

.leftOrangeBlock {
  max-width: 551px;
  min-height: 548px;
  border-radius: 100%;
  border-top-left-radius: 40px;
  margin-bottom: 92px;
  background-color: #f2c94c;
  padding-top: 48px;
  padding-left: 57px !important;
  position: relative;
  width: 100%;
}

.aboutUsInfo > h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.aboutUsInfo > p {
  margin-top: 24px;
  max-width: 390px;
  font-family: Hurme Geometric Sans 3;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.aboutUs > .container > .row {
  flex-direction: row !important;
}

.whereWeAre {
  padding: 0;
}

.whereWeAre > h2 {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.whereWeAre > h4 {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.purpleDots {
  top: 5px;
  right: 30px;
  position: absolute;
  overflow: hidden;
  z-index: -1;
}

.funnyGuy img {
  margin-top: -115px;
}

/* FOOTER */

.footer {
  text-align: center;
  margin-bottom: 20px;
}

.footer .nav-link {
  color: black !important;
}

/* MEDIA */
@media screen and (max-width: 1260px) {
  .full {
    display: none !important;
    background-color: red;
  }
  .cut {
    display: block !important;
  }
}



@media screen and (min-width: 575px){
  
  .markText{
    padding-top: 5em;
  }

}




@media screen and (max-width: 1000px) {
  .left-list span,
  .right-list span {
    font-size: 20px !important;
  }

  .left-list,
  .right-list {
    width: 100% !important;
  }

  .perks-list {
    display: flex !important;
    justify-content: space-around !important;
    align-items: flex-end !important;
  }
}

@media screen and (max-width: 770px) {
  .cut {
    display: none !important;
  }
  .cut-no-man {
    display: block !important;
  }
  .left-list span,
  .right-list span {
    font-size: 16px !important;
  }

  .perks-list {
    align-items: flex-start !important;
    flex-direction: column;
  }

  /* PLACEHOLDER */

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-style: normal;
    font-weight: 300;
    font-size: 20px !important;
    line-height: 38px;
    color: #b6b6b6;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-style: normal;
    font-weight: 300;
    font-size: 20px !important;
    line-height: 38px;
    color: #b6b6b6;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    font-style: normal;
    font-weight: 300;
    font-size: 20px !important;
    line-height: 38px;
    color: #b6b6b6;
  }

  .form-group input {
    padding: 0 !important;
  }

  .leftOrangeBlock {
    padding-left: 30px !important;
  }
}

@media screen and (max-width: 535px) {
  .funnyGuy {
    display: none;
  }

  .leftOrangeBlock {
    padding-left: 0px !important;
    padding: 20px 15px;
    border-radius: 0px;
  }

  .purpleDots {
    display: none;
  }

  .aboutUsInfo > h1 {
    margin-bottom: 77px;
  }

  .chooseTab .row {
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .perks-list {
    flex-direction: column;
  }

  .blue-circle {
    display: none;
  }

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-style: normal;
    font-weight: 300;
    font-size: 14px !important;
    line-height: 38px;
    color: #b6b6b6;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-style: normal;
    font-weight: 300;
    font-size: 14px !important;
    line-height: 38px;
    color: #b6b6b6;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    font-style: normal;
    font-weight: 300;
    font-size: 14px !important;
    line-height: 38px;
    color: #b6b6b6;
  }
  .tabsForm {
    padding: 0 !important;
  }
}

@media screen and (max-width: 991px) {
  .navbar .nav-link {
    color: black !important;
  }
  .container-fluid {
    padding: 0 !important;
  }
}

@media screen and (max-width: 546px) {
  .go-white {
    background: white !important;
    color: black !important;
  }
}

@media screen and (max-width: 324px) {
  .go-white {
    background: linear-gradient(
      266.81deg,
      #009ebe -3.26%,
      #049c69 92.97%
    ) !important;
    border-radius: 27px;
    font-weight: bold;
    color: white;
    padding: 11px 35px;
    box-shadow: none;
  }
}
