/* font-family: 'Paytone One', sans-serif;
font-family: 'Questrial', sans-serif; */

*{
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
}

.videoHome{
    width: 100vw;
}

.introHead{
    font-size: 25px;
}

.copyright{
    border-radius: 20px;
}

.mainHead{
    font-size: 40px;
    padding-top: 3%;
}

.subHead{
    font-size: 20px;
    padding-bottom: 3%;
    padding-top: 3%;
}

.btn-signIn{
    background:#029D89;
    color: white;
    margin-right: 4vw;
    border-radius: 4px;
}

.grayBG{
    background: rgb(233, 233, 233);
    padding-top: 8vh;
    padding-bottom: 1vh;
    border-radius: 20px;
}

.btn-signUp{
    background: #029D89;
    color: white;
    width: 20%;
    border-radius: 4px;
    margin-top: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 1px black solid;
    ;
}

.whiteBG{
    background: rgb(255, 255, 255);
    margin-top: 3vh;
    padding-bottom: 8vh;
    border-radius: 20px;
}

.perksBG{
    background: rgba(2, 157, 136, 0.157);
    margin-top: 3vh;
    padding-bottom: 8vh;
    border-radius: 20px;

}

.perkHead{
    font-size: 25px;
    margin-top: 2em;
}

.perkClass{
    text-align: left;
    font-size: 0px;
    margin-left: 8vw;
}

.perkText{
    font-size: 18px;
    text-align: left;
}

.bg-footerTop{
    background: rgb(223, 223, 223);
    margin-top: 3vh;
    padding-bottom: 8vh;
    border-radius: 20px;
}

@media only screen and (max-width: 428px){

 }

/* 
.logoImg {
    height: 2em;
    width: auto;
}

.headingIntro {
    font-size: 2vw;
    color: rgb(172, 46, 46);
    padding-top: 10vh;
}

header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.2;
    z-index: 1;
}





.space {
    margin-left: 2%;
    margin-right: 2%;
}

.headBtn {
    height: 70%;
    margin-top: 2%;
    margin-right: 1em;
}

.signUpBtn,
.signInBtn {
    margin-right: 30px;
}

#signIn {
    background-color: #d7d7d7;
    border: 1px solid #7b7b7b;
    font: bold;
}

#signUp {
    background-color: rgb(145, 145, 145);
    border: 1px solid #7b7b7b;
    color: white;
}




#headingIntro {
    font-size: 2vw;
    color: rgb(51, 51, 51);
    padding-top: 3vh;
}

.headingMain {
    font-size: 5vw;
    color: rgb(65, 65, 65);
}

.headingContent {
    font-size: 2vw;
    color: rgb(65, 65, 65);
}

.btn-primary {
    background-color: rgb(60, 60, 60);
}

.heroButton {
    margin-top: 10%;
    width: 20vw;
}

.heroButton:hover {
    background-color: green;
}

.charityText {
    padding-top: 1%;
}

.heroTextBack {
    margin-top: 10vh;
    background-color: rgba(180, 189, 187, 0.8);
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

}

@media (max-width: 576px) {

    .heroButton {
        margin-top: 10%;
        width: 20vw;
    }

    .headingIntro {
        font-size: 4vw;
        color: #79787A;
        padding-top: 4vh;
    }

    .headingMain {
        font-size: 7vw;
        color: rgb(65, 65, 65);
    }

    .headingContent {
        font-size: 4vw;
        color: rgb(65, 65, 65);
    }

    .btn-primary {
        background-color: rgb(60, 60, 60);
    }

    .charityText {
        padding-top: 1%;
    }

    

    /* .buttonGrp{
    display: inline;
    } 
}*/
.launch{
    margin-top: 1%;
}

.form-why {
    background: gray;
    border-radius: 3%;
}

.signUp{
    margin-top: 1vh;
}

.bg-perks{
background-color: rgba(116, 134, 236, 0.958);
} 